<p id="notice"><%= notice %></p>


<table class="striped">
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>著者</th>
      <th>値段</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to image_tag(image_path(book.image_name), height: 150), book %></td>
        <td><%= link_to book.title, book %></td>
        <td><%= book.author %></td>
        <td><%= yen(book.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

