<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col s12">
    <div class="card">
    <div class="card-image">
      <%= image_tag "/images/#{@book.image_name}", style: "width: auto" %>
      </div>
      <div class="card-content">
      <span class="card-title"><%= @book.title %></span>
      <p>
        <h6>著者:</h6>
        <%= @book.author %>
      </p>
      <p>
        <h6>値段:</h6>
        <%= yen @book.price %>
      </p>
      <p>
        <h6>説明:</h6>
        <%= simple_format @book.description %>
      </p>
      </div>
      <div class="card-action">
      <% if current_user %>
      <%= link_to "購入", carts_path(cart: {quantity: 1, user_id: current_user.id, book_id: @book.id}), method: :post, class:"waves-effect waves-light btn" %>
      <% else %>
        <span class="notice">購入するにはログインが必要です</span>
      <% end %>
      <%= link_to '戻る', books_path, class: "waves-effect orange lighten-3 btn" %>
      </div>
    </div>
  </div>
</div>


