<h2><%= @cart.book.title%> 数量変更</h2>

<%= form_with(model: @cart, local: true) do |form| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity, '数量' %>
    <%= form.number_field :quantity %>
  </div>
  <div class="actions">
    <%= form.submit "変更" ,class: "waves-effect waves-light btn" %>
    <%= link_to '戻る', carts_path, class: "waves-effect orange lighten-3 btn" %>
    </div>
<% end %>

