<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/books" class="brand-logo">Rails books</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <%= current_user ? "ようこそ #{current_user.name} さん" : "" %>  </li>
          <li> <%= link_to 'ログアウト', logout_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
     <%= yield %>
    </div>
  </body>
</html>
